<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lwhenyoucai.mysamplebbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".PostList.PostListMain"
            android:label="主界面">

        </activity>

        <activity android:name=".Login.LoginActivity"
            android:label="登陆界面">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.RegisterActivity"
            android:label="注册界面">
        </activity>

        <activity android:name=".ReleasePost.ReleaseMain"
            android:label="发布帖子"/>

        <activity android:name=".ChatUI.ui.activity.ChatMain"
                  android:configChanges="orientation|keyboardHidden|navigation|screenSize"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:label="聊天界面"/>
        <activity android:name=".ChatUI.ui.activity.FullImageActivity"
                  android:configChanges="orientation|keyboardHidden|navigation|screenSize"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.Translucent"
                  android:label="全屏显示图片"/>
    </application>

</manifest>
